/*  
    !COLORS 
*/
/*
  FOOTER 1st ROW
*/
.footerDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #252424;
  height: 16rem;
}

.footerDiv .connserv-container {
  padding: 1rem 0 0;
  max-width: 100vw;
  height: auto;
}

.footerDiv .connserv-container p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  font-weight: 800;
  color: white;
}

.footerDiv img {
  padding: 2rem 0 0;
  width: 20rem;
  float: right;
}

.footerDiv li {
  font-size: 0.9rem;
  list-style-type: none;
}

.footerDiv li a {
  color: white;
  text-decoration: none;
}

.footerDiv .footer-copyright hr {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 60%;
}

.footerDiv .footer-copyright p {
  text-align: center;
  color: white;
  width: 100%;
}

/*
  
    FOOTER COPYRIGHT
  */
