/*  
    !COLORS 
*/
.navbarStyle {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  min-height: 10vh;
  background-size: cover;
  background-color: #252424;
  z-index: 99;
}

.navbarStyle .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbarStyle .logo {
  width: 30%;
}

.navbarStyle .logo .logo-img {
  width: 10rem;
  margin: 5px;
}

.navbarStyle .search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 80%;
}

.navbarStyle .search-div .servicetxt {
  width: 30%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}

.navbarStyle .search-div .locationtxt {
  width: 20%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}

.navbarStyle .search-div .searchbtn {
  width: 2.5rem;
  height: 2.58rem;
  border-radius: 5px;
  border: none;
  margin: 5px 3px;
}

.navbarStyle .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15%;
  margin: auto;
}

.navbarStyle .nav-links .link {
  list-style-type: none;
}

.navbarStyle .nav-links .link a {
  color: white;
  width: 100px;
}

.navbarStyle .nav-links .link :hover {
  color: #f574ec;
  text-decoration: none;
}

.navbarStyle :focus {
  outline: none;
}
