nav {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100vw;
  min-height: 10vh;
  background-image: url("/assets/img/heading_img.png");
  background-size: cover;
  background-color: #252424;
  z-index: 99;
}
nav .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .logo {
  width: 30%;
}
nav .logo .logo-img {
  width: 10rem;
  margin: 5px;
}
nav .search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  width: 80%;
}
nav .search-div .servicetxt {
  width: 30%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}
nav .search-div .locationtxt {
  width: 20%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}
nav .search-div .searchbtn {
  width: 2.5rem;
  height: 2.58rem;
  border-radius: 5px;
  border: none;
  margin: 5px 3px;
}
nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 15%;
  margin: auto;
}
nav .nav-links li {
  list-style-type: none;
}
nav .nav-links li a {
  color: white;
  width: 100px;
}
nav .nav-links li :hover {
  color: #f574ec;
  text-decoration: none;
}
nav :focus {
  outline: none;
}
.img-fluid {
  padding: 0.5rem;
  height: 200px;
  width: 500px;
  border-radius: 10%;
}
.card {
  height: 250px;
  width: 280px;
}
.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}
.card-header {
  background-color: #252424;
  color: antiquewhite;
}
.service-title {
  font-family: Helvetica;
  font-weight: 400;
  text-align: left;
  padding: 1rem;
  margin: 1rem;
}
.service-title img {
  height: 25px;
  width: 25px;
  margin-bottom: 15px;
}

@media screen and (min-width: 950px) and (max-width: 1124px) {
  h4 {
    font-size: 0.9rem;
  }
  h6 {
    font-size: 0.9rem;
  }
  .category-cards .card a {
    font-size: 0.7rem;
  }
  .category-cards .card p {
    font-size: 0.7rem;
  }
}
.footer-div {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #252424;
  height: 16rem;
  position: static;
}
.footer-div .connserv-container {
  padding: 1rem 0 0;
  max-width: 100vw;
  height: auto;
}
.footer-div .connserv-container p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  font-weight: 800;
  color: white;
}
.footer-div img {
  padding: 2rem 0 0;
  width: 20rem;
  float: right;
}
.footer-div li {
  font-size: 0.9rem;
  list-style-type: none;
}
.footer-div li a {
  color: white;
  text-decoration: none;
}
.footer-copyright hr {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 60%;
}
.footer-copyright p {
  text-align: center;
  color: white;
  width: 100%;
}
@media screen and (min-width: 950px) and (max-width: 1124px) {
  .connserv-container img {
    width: 15rem;
  }
  .connserv-container p {
    font-size: 0.8rem;
  }
  .connserv-container li {
    font-size: 0.7rem;
  }
  .footer-copyright p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 850px) and (max-width: 949px) {
  .connserv-container img {
    width: 15rem;
  }
  .connserv-container p {
    font-size: 0.8rem;
  }
  .connserv-container li {
    font-size: 0.7rem;
  }
  .footer-copyright p {
    font-size: 0.8rem;
  }
}
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: auto;
}
iframe {
  height: 300px;
  width: 280px;
  margin-left: 1rem;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 0px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
