/*  
    !COLORS 
*/
* {
  margin: 0;
  padding: 0;
}

section .row {
  height: 100%;
}

section .accordion {
  border: 1px;
  border-right-color: #d4d4d4;
  border-right-style: solid;
  height: 100%;
  width: 100%;
  position: fixed;
}

section .accordion .backbtn {
  width: 100%;
  height: 40px;
}

section .accordion .parent_link {
  background-color: transparent !important;
  color: black !important;
  padding: 5px;
}

section .accordion .business {
  font-weight: 500;
}

section .accordion .collapse a {
  color: #5e0cc4 !important;
  background-color: transparent !important;
}

section .accordion .collapse :hover {
  color: black !important;
}

section .body_content {
  margin-left: 200px;
  height: 100%;
  /* BUSINESS CONTENTS */
}

section .body_content .business_content .title_business .profile_picture {
  margin: 0 auto 0;
  height: 150px;
  width: 150px;
  padding: 5px;
  background: #5e0cc4;
  border-radius: 50%;
  position: relative;
}

section .body_content .business_content .title_business .profile_picture img {
  overflow: hidden;
  border-radius: 50%;
}

section .body_content .business_content .title_business input[type=file] {
  display: none;
}

section .body_content .business_content .title_business .title_container {
  height: 100%;
  padding: 5% 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section .body_content .business_content .tab_contents {
  padding: 3rem 0 0;
}

section .body_content .business_content .tab_contents .address_bar table {
  width: 100%;
  text-align: center;
}

section .body_content .business_content .tab_contents .address_bar table th, section .body_content .business_content .tab_contents .address_bar table td {
  padding: 5px;
}

section .body_content .business_content .tab_contents .address_bar .address_table {
  border: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d4d4d4;
}

section .body_content .business_content .tab_contents .main_content .category_content {
  padding: 10px 0 0;
}

section .body_content .business_content .tab_contents .main_content .category_content .category_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  font-size: 20px !important;
}

section .body_content .business_content .tab_contents .main_content .category_content .category_title * {
  margin: 0;
  padding: 0;
}

section .body_content .business_content .tab_contents .main_content .category_content .category_title svg {
  margin: auto 0 auto;
}

section .body_content .business_content .tab_contents .main_content .category_content .category_chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  font-size: 20px !important;
}

section .body_content .business_content .tab_contents .main_content .category_content .category_chosen * {
  margin: 0;
  padding: 0;
}

section .body_content .business_content .tab_contents .main_content .category_content .category_chosen svg {
  margin: auto 0 auto;
}

section .body_content .business_content .tab_contents .main_content .description_bar {
  margin-top: 2rem;
  padding-top: 10px;
  width: 100%;
  border: 1px solid #d4d4d4;
}

section .body_content .business_content .tab_contents .main_content .description_bar .description_content {
  height: 150px;
  overflow: scroll;
}

section .body_content .business_content .tab_contents .main_content .description_bar .description_content p {
  text-indent: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

section .body_content .business_content .tab_contents .main_content .documents_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d4d4d4;
}

section .body_content .business_content .tab_contents .main_content .documents_bar table td {
  width: auto;
}

section .body_content .business_content .tab_contents .main_content .documents_bar table button {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

section .body_content .business_content .tab_contents .main_content .documents_bar table button:hover {
  background-color: #9056ca;
  border-color: #9056ca;
  color: #cecece;
}

section .body_content .business_content .tab_contents .main_content .documents_bar table button:focus {
  outline: none;
}

section .body_content .business_content .tab_contents .main_content .documents_bar .location {
  width: 100%;
}

section .body_content .edit_content .business_container .tool_tip {
  font-size: 1rem;
  color: red;
}

section .body_content .edit_content .business_container .business_trade .business_name {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_trade .trade_name {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_address .business_unit_no {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_address .business_building {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_address .business_house_no {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_address .business_street {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_address .business_village {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_address .business_city {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_address .business_city {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_address .business_city {
  width: 100%;
  height: 2.4rem;
  padding: 5px;
}

section .body_content .edit_content .business_container .business_location {
  width: 100%;
  padding: 5px;
}

section .body_content .edit_content .business_container .card {
  width: 100%;
}

section .body_content .edit_content .business_container .card button {
  background-color: transparent;
  border: none;
}

section .body_content .edit_content .business_container .card :focus {
  outline: none;
}

section .body_content .edit_content .business_container .card .appointment_container {
  display: none;
  -webkit-transition: height linear 0.5s;
  transition: height linear 0.5s;
}

section .body_content .edit_content .business_container hr {
  border: 1px solid black;
}

section .body_content .edit_content .business_container .owner_valid label {
  display: block;
}

section .body_content .edit_content .business_container .createBtn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #5e0cc4;
  color: white;
}

section .body_content .edit_content .business_container :focus {
  outline: none;
}

section .body_content .approval_content {
  width: 100%;
  height: 100%;
}

section .body_content .approval_content .approval_container {
  width: 100%;
  height: 100%;
}

section .body_content .approval_content .approval_container .incoming_content {
  width: 100%;
  height: 100%;
}

section .body_content .approval_content .approval_container .incoming_content .table_contents {
  height: 500px;
  border: 1px solid black;
}

section .body_content .approval_content .approval_container .incoming_content .table_contents .incoming_table {
  width: 100%;
  height: auto;
  overflow: scroll;
}

section .body_content .approval_content .approval_container .incoming_content .table_contents .incoming_table thead tbody {
  width: auto;
  color: red !important;
}

section .body_content .approval_content .approval_container .incoming_content .table_contents .incoming_table thead {
  text-align: center;
}

section .body_content .approval_content .approval_container .incoming_content .table_contents .incoming_table tbody td.address {
  max-width: 0;
  white-space: nowrap;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
}
