/*  
    !COLORS 
*/
nav {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  min-height: 10vh;
  background-size: cover;
  background-color: #252424;
  z-index: 99;
}

nav .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .logo {
  width: 30%;
}

nav .logo .logo-img {
  width: 10rem;
  margin: 5px;
}

nav .search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 80%;
}

nav .search-div .servicetxt {
  width: 30%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}

nav .search-div .locationtxt {
  width: 20%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}

nav .search-div .searchbtn {
  width: 2.5rem;
  height: 2.58rem;
  border-radius: 5px;
  border: none;
  margin: 5px 3px;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15%;
  margin: auto;
}

nav .nav-links li {
  list-style-type: none;
}

nav .nav-links li a {
  color: white;
  width: 100px;
}

nav .nav-links li :hover {
  color: #f574ec;
  text-decoration: none;
}

nav :focus {
  outline: none;
}

@media screen and (min-width: 950px) and (max-width: 1124px) {
  /* .nav-links {
    li {
    }
  } */
  .servicetxt {
    width: 5em;
    min-height: 2em;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  .locationtxt {
    min-width: 5rem;
    min-height: 2rem;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  .searchbtn {
    min-width: 1rem;
    min-height: 1rem;
  }
}

* {
  padding: 0;
  margin: 0;
}

.body_container {
  margin: 3rem 0 3rem;
  height: 500px;
}

.body_container .container-fluid {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* Pill Design */
  /* Profile Contents */
  /* Appointments Contents */
  /* Business Contents */
}

.body_container .container-fluid .tab_container {
  height: 100%;
}

.body_container .container-fluid .tab_container .tab-content {
  height: 100%;
}

.body_container .container-fluid .nav {
  width: 100%;
  text-align: center;
}

.body_container .container-fluid .nav .nav-link {
  width: 200px;
}

.body_container .container-fluid .nav-pills .nav-link {
  background-color: #5e0cc4 !important;
  color: white;
}

.body_container .container-fluid .nav-pills .nav-link:not(.active) {
  background-color: transparent !important;
  color: black;
}

.body_container .container-fluid .user_icon {
  text-align: center;
}

.body_container .container-fluid .user_icon .profile_picture {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  margin: 1rem auto 1rem;
}

.body_container .container-fluid .user_icon .profile_picture img {
  height: 100px;
}

.body_container .container-fluid .user_icon input[type=file] {
  display: none;
}

.body_container .container-fluid .user_icon label {
  width: auto;
  border: 1px solid #5e0cc4;
  border-radius: 5px;
  padding: 5px;
}

.body_container .container-fluid .tab_container {
  margin: 1rem 0 0;
}

.body_container .container-fluid .tab_container .tab_content {
  margin: 0.5rem auto;
}

.body_container .container-fluid .saveBtn {
  width: 100%;
  background-color: #5e0cc4;
}

.body_container .container-fluid .appointments {
  /* .main_content{
                .card{
                    .card-header{
                        background-color: transparent !;
                    }
                    .card-body{
                        background-color: transparent;
                    }
                }
            } */
}

.body_container .container-fluid .appointments .container {
  margin: 2rem 0 2rem;
}

.body_container .container-fluid .appointments .appointment_container {
  display: none;
  -webkit-transition: height linear 0.5s;
  transition: height linear 0.5s;
}

.body_container .container-fluid .appointments .business_body {
  width: 100%;
  height: 100%;
}

.body_container .container-fluid .appointments .business_body .form-row .showBtn {
  font-size: 2rem;
  width: 100%;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.body_container .container-fluid .business {
  height: 100%;
}

.body_container .container-fluid .business .business_contents {
  height: 100%;
}

.body_container .container-fluid .business .business_contents .contents_container {
  height: 100%;
  text-align: center;
}

.body_container .container-fluid .business .business_contents .contents_container .container_display h1 {
  font-family: "Righteous", cursive;
  margin: 2rem;
}

.body_container .container-fluid .business .business_contents .contents_container .container_display .createBtn {
  height: 50px;
  width: 150px;
  margin: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #5e0cc4;
  color: white;
}

.body_container .container-fluid .business .business_contents .contents_container .container_display .createBtn:hover {
  background-color: white;
  border: 1px solid #5e0cc4;
  color: #252424;
  -webkit-transition: .3s;
  transition: .3s;
}
