/*
 FEATURED SERVICES

*/

.featured {
  padding: 4rem 0;
}
.featured-header {
  text-align: left;
  .featured-title {
    width: 15rem;
  }
  h6 {
    padding: 5% 0;
  }
}
.feature_row {
  height: auto;
  width: auto;
  .featured-image {
    width: 40%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1124px) {
  h4 {
    font-size: 0.9rem;
  }
  h6 {
    font-size: 0.9rem;
  }
}
