@import './homepage_styling/variables';
*{
    margin: 0;
    padding: 0;
}
section{
    .row{
        height: 100%;
    }
    .accordion{
        border: 1px;
        border-right-color: #d4d4d4;
        border-right-style: solid;
        height: 100%;
        width: 100%;
        position: fixed;
        .backbtn{
            button{
                width: 100%;
                height: 40px;
                border: 1px solid #5e0cc4;
                border-radius: 10px;
            }
            :hover{
                background-color: #5e0cc4;
                color: white;
                transition: 0.3s;
            }
        }
        .parent_link{
            background-color: transparent !important;
            color: black !important;
            padding: 5px;
        }
        .business{
            font-weight: 500;
        }
        .collapse{
            a{
                color: #5e0cc4 !important;
                background-color: transparent !important;
                
            }
            :hover{
                color: black !important;
            }
        }
    }
    .body_content{
        margin-left: 200px;
        height: 100%;


        /* BUSINESS CONTENTS */
        .business_content{
            .title_business{
                .profile_picture{
                    margin: 0 auto 0;
                    height: 150px;
                    width: 150px;
                    padding: 5px;
                    background: #5e0cc4;
                    border-radius: 50%; 
                    position: relative;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 50%;
                    }
                }
                input[type=file]{
                    display: none;
                }
        
                .title_container{
                    height: 100%;
                    
                    padding: 5% 0;
                    
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    
                }
            }
            .tab_contents{
                padding: 3rem 0 0;
                .address_bar{
                    table{
                        
                        width: 100%;
                        text-align: center;
                        th, td{
                            padding: 5px;
                        }

                    }
                    .address_table{
                        border: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: #d4d4d4;
                    }
                }
                .main_content{
                    .category_content{
                        padding: 10px 0 0;
                        .category_title{

                            display: flex;
                            padding: 5px;
                            font-size: 20px !important;
                            *{
                                margin: 0;
                                padding: 0;
                            }
                            svg{
                                margin: auto 0 auto;
                            }
                        }
                        .category_chosen{

                            display: flex;
                            padding: 5px;
                            font-size: 20px !important;
                            *{
                                margin: 0;
                                padding: 0;
                            }
                            svg{
                                margin: auto 0 auto;
                            }
                        }
                    }

                    .description_bar{
                        margin-top: 2rem;
                        padding-top: 10px;
                        width: 100%;
                        border: 1px solid #d4d4d4;
                        .description_content{
                            height: 150px;
                            overflow: scroll;
                            p{
                                text-indent: 2rem;
                                text-align: justify;
                                text-justify: inter-word;
                            }
                        }
                    }
                    .documents_bar{
                        display: flex;
                        border: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: #d4d4d4;
                        table{

                            td{
                                width: auto;
                            }
                            button{
                                display: inline-block;
                                width: 100%;
                                max-width: 100%;
                                padding: 10px;
                                border-radius: 5px;
                                border: 1px solid black;
                            }
                            
                            button:hover{
                                background-color: #9056ca;
                                border-color: #9056ca;
                                color: rgb(206, 206, 206);
                            }
                            button:focus{
                                outline: none;
                            }

                        }
                        
                        .location{
                            width: 100%;
                        }
                    }
                }
            }
            
        }

        
        .edit_content{

            .business_container{

                .tool_tip{
                    font-size: 1rem;
                    color: red;
                }
                .business_trade{
                    .business_name{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                    .trade_name{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                }
                .business_address{
                    .business_unit_no{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                    .business_building{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                    .business_house_no{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                    .business_street{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                    .business_village{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                    .business_city{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                    .business_city{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                    .business_city{
                        width: 100%;
                        height: 2.4rem;
                        padding: 5px;
                    }
                }
                .business_location{
                    width: 100%;
                    padding: 5px;
                }
                
                .card{
                    width: 100%;
                    button{
                        background-color: transparent;
                        border: none;
                    }
                    :focus{
                        outline: none;
                    }
                    .appointment_container{
                        display: none;
                        transition: height linear 0.5s;
                    }
                }
        
                hr{
                    border: 1px solid black;
                }
                .owner_valid{
                    label{
                        display: block;
                    }
                }
                .createBtn{
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                    border: none;
                    background-color: $font-color-b;
                    color: white;
        
                }
                :focus{
                    outline: none;
                }
            }
            
        }

        .approval_content{
            width: 100%;
            height: 100%;
            .approval_container{
                width: 100%;
                height: 100%;
                .incoming_content{
                    width: 100%;
                    height: 100%;
                    .table_contents{
                        height: 500px;
                        border: 1px solid black;
                        .incoming_table{
                            width: 100%;
                            height: auto;
                            overflow: scroll;
                            thead tbody{
                                
                                width: auto;
                                color: red !important;
                            }
                            thead{
                                text-align: center;
                            }
                            tbody{
    
                                td.address{
                                    max-width: 0;
                                    white-space: nowrap; 
                                    width: 30%; 
                                    overflow: hidden;
                                    text-overflow: ellipsis; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}