* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
  height: 1000px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
/* NAV BAR */
#navbar {
  overflow: hidden;
  background-image: url("/assets/img/heading_img.png");
  background-size: cover;
  background-color: #252424;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  a:hover {
    color: #b42bab;
    transition: 0.5s;
  }

  a.active {
    width: 100px;
    background-color: #b42bab;
    color: white;
  }
  #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
}
#navbar-right {
  float: right;
}

@media screen and (max-width: 450px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
  .txtSearch {
    float: none;
    display: block;
  }
}

.btnaccount {
  background-color: transparent;
  border: none;
}
.txtSearch {
  margin-right: 10px;
  height: 50px;
  width: 200px;
  float: left;
  border-width: thin;
  border-radius: 10px;
  padding: 10px;
}
/*
        #p1{
            color: #252424;
        }
        #p2{
            color: #b42bab;
        }
        #p3{
            color: #5e0cc4;
        }
        */

.card {
  img {
    height: 150px;
    width: 150px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    transition: 0.5s;
    color: #b42bab;
    opacity: 80%;
  }
}

#category_tbl td {
  padding: 5px;
}

#more_categories {
  height: 40px;
  background-color: #b42bab;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/* ------------- FEATURED PARTNERS ------------*/

#featured {
  margin-top: 20px;
}
