@import "./navigationbar";

* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  margin: 0;
}
/* NAV BAR */

/*
Color Palette:
color: #252424;
color: #b42bab;
color: #5e0cc4;
*/
/* -------------- FOOTER ----------------*/
