@import './variables';

.navbarStyle {
  top: 0;
  display: flex;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  min-height: 10vh;
  background-size: cover;
  background-color: $font-color-a;
  z-index: 99;

  .container-fluid {
    display: flex;
  }
  .logo {
    width: 30%;
    .logo-img {
      width: 10rem;
      margin: 5px;
    }
  }
  .search-div {
    display: flex;
    justify-content: right;
    width: 80%;
    .servicetxt {
      width: 30%;
      height: 2.5rem;
      border-radius: 5px;
      border: none;
      padding: 5px;
      margin: 5px;
    }
    .locationtxt {
      width: 20%;
      height: 2.5rem;
      border-radius: 5px;
      border: none;
      padding: 5px;
      margin: 5px;
    }
    .searchbtn {
      width: 2.5rem;
      height: 2.58rem;
      border-radius: 5px;
      border: none;
      margin: 5px 3px;
    }
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin: auto;
    .link {
      list-style-type: none;
      a {
        color: white;
        width: 100px;
      }
      :hover {
        color: $font-color-d;
        text-decoration: none;
      }
    }
  }
  :focus {
    outline: none;
  }
}