// Category Cards

.featured {
  padding: 4rem 0;
}
.featured-header {
  text-align: left;
  .featured-title {
    width: 15rem;
  }
  h1 {
    padding: 5% 0;
  }
}

.featured-services {
  .card-title {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}
