@import "../homepage_styling/variables";
@import "../homepage_styling/navigationbar";
@import "category_cards";
@import "../homepage_styling/footer";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: auto;
}

.title_div {
  font-family: "Righteous", cursive;
  color: white;
  width: 600px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  .text_margin {
    margin: 20% auto;
  }
}
