@import "../homepage_styling/navigationbar";

*{
    padding: 0;
    margin: 0;
}

.body_container{
    margin: 3rem 0 3rem;
    .container-fluid{
        
        margin-left: auto;
        margin-right: auto;
        .user_icon{
            text-align: center;
            .profile_picture{
                width: 100px;
                height: 100px;
                overflow: hidden;
                border-radius: 50%;
                border: 1px solid black;
                text-align: center;
                margin: 1rem auto 1rem;
                img{
                    height: 100px;
                }
            }
            input[type=file]{
                display: none;
            }
            label{
                width: auto;
                border: 1px solid $font-color-b;
                border-radius: 5px;
                padding: 5px;
            }
        }
        .nav-link{
            width: 200px;
        }
        
        .nav{
            width: 100%;
            text-align: center;
        }
        .tab_container{
            margin: 1rem 0 0;
            .tab_content{
                margin: 0.5rem auto;
            }
        }
        .saveBtn{
            width: 100%;
            
        }

        /* BUSINESS PILL */

        .appointments{
            .appointment_container{
                display: none;
                transition: height linear 0.5s;
            }
        }

        .business_body{
            width: 100%;
            height: 100%;

            .form-row{

                .showBtn{
                    font-size: 2rem;
                    width: 100%;
                    height: 50px;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }
    }
}